html {
    scroll-behavior: smooth;
    text-align: center;
  }

.div {
    scroll-margin-top: 2rem;
}

  img.avatar {
    border-radius: 30px;
  }

#home-title{
    padding-top: 200px;
    text-align: center;
    font-style: bold;
    padding-bottom: 20%;
}

header{
    position: sticky;
    top: 0;
    z-index: 999;
}

@media screen and (max-width: 700px) {
    #home-title{
        text-align: center;
    }

    #about{
        text-align: center;
    }

    #resume {
        text-align: center;
      }
    
      #projects {
        text-align: center;
      }
    
      #contact {
        text-align: center;
      }

      .carousel {
        border-radius: 25px 25px 25px 25px;
        overflow: hidden;
      }
}

@media screen and (min-width: 700px) {

  .carousel {
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 25px 25px 25px 25px;
    overflow: hidden;
  }
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  #about {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  
  #resume {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  #projects {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  #contact {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .resume .resume-title {
    font-size: 26px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;

  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #546f82;
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    background: #f7f8f9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .resume .resume-item ul {
    padding-left: 20px;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #546f82;
  }